

<%= form_for(@location, html: { class: "form-horizontal" }) do |f| %>

  <fieldset>
    <div class="content-container">
      <div class="gmap-main">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Location Search</h3>
          </div>
          <div class="panel-body">
            <% if @location.errors.any? %>
              <div class="notice">
                <h3>Errors</h2>
                <ul>
                <% @location.errors.full_messages.each do |msg| %>
                  <li class="error"><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div>
              <span><%= label_tag :search, "Search For Address" %></span>
              <span><%= text_field_tag :location_search, nil, size: 50, class: "search-query", type: "search" %></span>
            </div>
            <div id="googlemap"></div>
          </div>
        </div>
      </div>


      <div class="loc-main row-fluid address-results">


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Details</h3>
          </div>
          <div class="panel-body">
            <div>
              <span><%= f.label :name, class: "first-label" %></span>
              <span><%= f.text_field :name, class: "loc_data", size: 34 %></span>
            </div>
            <div>
              <span><%= f.label :note, class: "first-label" %></span>
              <span><%= f.text_area :note, class: "loc_data", cols: 32 %></span>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Address</h3>
          </div>
          <div class="panel-body">
            <div>
              <span><%= f.label :address, "Line 1", class: "first-label" %></span>
              <span><%= f.text_field :address, class: "loc_data", size: 34 %></span>
            </div>
            <div>
              <span><%= f.label :address2, "Line 2", class: "first-label" %></span>
              <span><%= f.text_field :address2, class: "loc_data", size: 34 %></span>
            </div>
            <div>
              <span><%= f.label :city, class: "first-label" %></span>
              <span><%= f.text_field :city, size: 12, class: "loc_data" %></span>
              <span><%= f.label :state, class: "control-label" %></span>
              <span><%= f.text_field :state, size: 3, class: "loc_data" %></span>
              <span><%= f.label :zip, class: "control-label" %></span>
              <span><%= f.text_field :zip, size: 5, class: "loc_data" %></span>
            </div>
            <div>
              <span><%= f.label :country, class: "first-label" %></span>
              <span><%= f.country_select :country, class: "loc_data",  priority_countries: ["US"] , except: ["GS"], size: 33 %></span>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Contact</h3>
          </div>
          <div class="panel-body">
            <div>
              <span><%= f.label :phone, class: "first-label" %></span>
              <span><%= f.text_field :phone, class: "loc_data" %></span>
            </div>
            <div>
              <span><%= f.label :website, class: "first-label" %></span>
              <span><%= f.text_field :website, class: "loc_data", size: 34 %></span>
            </div>
            <div>
              <span><%= f.label :maplink, class: "first-label" %></span>
              <span><%= f.text_field :maplink, class: "loc_data", size: 34 %></span>
            </div>

          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Geography</h3>
          </div>
          <div class="panel-body">
            <div>
              <span><%= f.label :latitude, class: "first-label" %></span>
              <span><%= f.text_field :latitude, size: 11, class: "loc_data" %></span>
              <span><%= f.label :longitude, class: "control-label" %></span>
              <span><%= f.text_field :longitude, size: 11, class: "loc_data" %></span>
            </div>
          </div>
        </div>





      </div>
    </div>
        <div>
          <div class="control-group">
            <%= f.submit "Save Location", class: 'btn submit-btn' %>
          </div>
          <% if (@location.id) %>
            <div class="control-group">
              <%= button_tag 'Reset', :type => 'reset', class: 'btn reset-btn' %>
            </div>
          <% end %>
          <div class="control-group">
            <%= button_tag 'Clear', :type => 'button', class: 'btn clear-btn' %>
          </div>
        </div>

  </fieldset>

<% end %>

<!-- <div class="row-fluid">
  <div class="well">
    <h4>Images</h4>
    <div id="place_images"></div>
  </div>
</div> -->
<%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places', 'places_autocomplete' %>