

<%= form_for(@location, html: { class: "form-horizontal", role: 'form' }) do |f| %>

  <fieldset>
    <div class="content-container col-md-12 form-group">

      <!-- Left Content Column -->
      <div class="gmap-main col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Location Search</h3>
          </div>
          <div class="panel-body">
            <% if @location.errors.any? %>
              <div class="notice">
                <h3>Errors</h2>
                <ul>
                <% @location.errors.full_messages.each do |msg| %>
                  <li class="error"><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div>
              <span><%= label_tag :search, "Search For Address" %></span>
              <span><%= text_field_tag :location_search, nil, class: "search-query  form-control", type: "search" %></span>
            </div>
            <div id="googlemap"></div>
          </div>
        </div>
      </div>

      <!-- Center Content Column-->
      <div class="loc-middle col-md-4">

        <!-- Details Panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Details</h3>
          </div>
          <div class="panel-body">
            <div>
              <span><%= f.label :name, class: "control-label" %></span>
              <span><%= f.text_field :name, class: "loc_data form-control" %></span>
            </div>
            <div>
              <span><%= f.label :note, class: "control-label" %></span>
              <span><%= f.text_area :note, class: "loc_data form-control" %></span>
            </div>
          </div>
        </div>

        <!-- Address Panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Address</h3>
          </div>
          <div class="panel-body">
            <div>
              <span><%= f.label :address, "Line 1", class: "control-label" %></span>
              <span><%= f.text_field :address, class: "loc_data form-control" %></span>
            </div>
            <div>
              <span><%= f.label :address2, "Line 2", class: "control-label" %></span>
              <span><%= f.text_field :address2, class: "loc_data form-control" %></span>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <span><%= f.label :city, class: "control-label" %></span>
                <span><%= f.text_field :city, class: "loc_data form-control" %></span>
              </div>
              <div class="col-sm-3">
                <span><%= f.label :state, class: "control-label" %></span>
                <span><%= f.text_field :state, class: "loc_data form-control" %></span>
              </div>
              <div class="col-sm-3">
                <span><%= f.label :zip, class: "control-label" %></span>
                <span><%= f.text_field :zip, class: "loc_data form-control" %></span>
              </div>
            </div>
            <div>
              <span><%= f.label :country, class: "control-label" %></span>
              <span><%= f.country_select :country, {priority_countries: ["US"] , except: ["GS"]}, class: "loc_data form-control" %></span>
            </div>
          </div>
        </div>

      </div>

      <!-- Right Content Column -->
      <div class="loc-right col-md-4">


        <!-- Contact Panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Contact</h3>
          </div>
          <div class="panel-body">
            <div>
              <span><%= f.label :phone, class: "control-label" %></span>
              <span><%= f.telephone_field :phone, class: "loc_data form-control" %></span>
            </div>
            <div>
              <span><%= f.label :website, class: "control-label" %></span>
              <span><%= f.url_field :website, class: "loc_data form-control" %></span>
            </div>
            <div>
              <span><%= f.label :maplink, class: "control-label" %></span>
              <span><%= f.url_field :maplink, class: "loc_data form-control" %></span>
            </div>
          </div>
        </div>

        <!-- Geography Panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Geography</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <span><%= f.label :latitude, class: "first-label" %></span>
                <span><%= f.text_field :latitude, class: "loc_data form-control" %></span>
              </div>
              <div class="col-sm-6">
                <span><%= f.label :longitude, class: "control-label" %></span>
                <span><%= f.text_field :longitude, class: "loc_data form-control" %></span>
              </div>
            </div>
          </div>
        </div>

        <div>
          <%= f.submit "Save Location", class: 'btn submit-btn form-control' %>
        </div>
        <% if (@location.id) %>
          <div>
            <%= button_tag 'Reset', :type => 'reset', class: 'btn reset-btn form-control' %>
          </div>
        <% end %>
        <div>
          <%= button_tag 'Clear', :type => 'button', class: 'btn clear-btn form-control' %>
        </div>
      </div>

    </div>


  </fieldset>

<% end %>

<!-- <div class="row-fluid">
  <div class="well">
    <h4>Images</h4>
    <div id="place_images"></div>
  </div>
</div> -->
<%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places', 'places_autocomplete' %>