
<!-- action_path is required to have the form action route to the Playbooks Active Admin controller rather than Uploads AA controller -->
<% action_path = resource.persisted? ? resource_path(resource) : collection_path %>
<%= form_for [:admin, @playbook], url: action_path, html: { class: "form-horizontal", role: 'form' } do |f| %>

  <fieldset>
    <div class="content-container col-md-12 form-group">

      <div class="plbk-data col-md-4">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Details</h3>
          </div>
          <div class="panel-body">
            <div>
              <span><%= f.label :name, 'Playbook Name', class: "control-label" %></span>
              <span><%= f.text_field :name, class: "plbk_data form-control" %></span>
            </div>
            <div>
              <span><%= f.label :description, class: "control-label" %></span>
              <span><%= f.text_area :description, class: "plbk_data form-control", cols: 32 %></span>
            </div>
            <div>
              <span><%= f.label :tag_list, "Tags", class: "control-label" %></span>
              <span><%= f.text_field :tag_list, class: "plbk_data form-control"
               f.text_field :tag_list, class: 'plbk_data tagselect form-control', data: {
                          placeholder: "Enter tags",
                          saved: f.object.tags.map{|t| {id: t.name, name: t.name}}.to_json,
                          url: autocomplete_tags_path } 
                          %></span>
            </div>
            <div>
              <% if (@playbook.id) %>
                <span><%= f.label :document, "Current File", class: "control-label" %></span>
                <span><p><%= f.text_field :document_file_name, class: "plbk_data form-control", "readonly" => true %></p></span>
                <div id="select-file-btn"><%= button_tag 'Select New', :type => 'button', class: 'btn btn-xs btn-primary select-file-btn' %></div>
              <% else %>
                <span><%= f.label :document, "Select File", class: "control-label" %></span>
                <span><%= f.file_field :document, class: "plbk_data form-control", size: 34 %></span>
              <% end %>
            </div>
          </div>
        </div>

        <div>
          <div class="control-group">
            <%= f.submit "Save Playbook", class: 'btn submit-btn' %>
          </div>
          <% if (@playbook.id) %>
            <div class="control-group">
              <%= button_tag 'Reset', :type => 'reset', class: 'btn reset-btn' %>
            </div>
          <% end %>
          <div class="control-group">
            <%= button_tag 'Clear', :type => 'button', class: 'btn clear-btn' %>
          </div>
        </div>

      </div>

      <div class="plbk-member-list col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Access</h3>
          </div>
          <div class="panel-body">
            <div class="row col-md-5">
              <span><%= f.label :group_ids, 'Groups', class: "control-label" %></span>
              <span><%= f.select :group_ids, Group.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, class: "plbk_data form-control" %></span>
            </div>
            <div class="row col-md-8" style="overflow: auto;">
              <span><%= f.label :group_ids, 'Access List', class: "control-label" %></span>
              <table id="access_list_table" class="table table-striped table-condensed">
                <tr>
                  <th>Status</th>
                  <th>Person</th>
                  <th>Group(s) Granting Access</th>
                </tr>

                <% usergroups_to_s(@playbook.group_ids).each do |user| %>
                <%= "<tr><td>Saved</td><td>#{user[0]}</td><td>#{user[1]}</td></tr>".html_safe %>
                <% end %>
              </table>
              <div id="id_val" style="display:none;" data-id="<%= f.object.id %>"></div>
            </div>
          </div>
        </div>

      </div>





    </div>


  </fieldset>

<% end %>

<%= javascript_include_tag 'playbook' %>
<%= javascript_include_tag 'select2_autocomplete' %>
