<div class = "<%= cycle('odd', 'even') %> item">
	<div class="item-attr">
		<span class="item-attr-title">Field: </span>
		<span class="item-attr-val"><%= form_field.name %></span>
<!-- 		<span class="item-header-icons"><%=
		# list_icons(form_field, [:edit, :delete, :show]) 
		%></span> -->
	</div>
<!-- 	<div class="item-attr">
		<span class="item-attr-title">Minimum Length: </span>
		<span class="form-location item-attr-val"><%=
		# form_field.min_length
		%></span>
	</div>
	<div class="item-attr">
		<span class="item-attr-title">Maximum Length: </span>
		<span class="form-location item-attr-val"><%=
		# form_field.max_length
		%></span>
	</div>
	<div class="item-attr">
		<span class="item-attr-title">Required? </span>
		<span class="item-attr-val"><%=
		# form_field.required
		%></span>
	</div>
	<div class="item-attr">
		<span class="item-attr-title">Field Type: </span>
		<span class="item-attr-val"><%=
		# form_field.field_type
		%></span>
	</div> -->
</div>