		
<div class = "<%= cycle('odd', 'even') %> item">
	<div class="item-header">
		<span class="item-header-title">Event: </span>
		<span class="item-header-val"><%= event_user.event.name %></span>
	</div>
	<div datetime="<%= event_user.event.event_dt %>" class="item-attr">
		<span class="item-attr-title">Date and Time: </span>
		<span class="event-location item-attr-val"><%= event_user.event.event_dt.to_formatted_s(:short) %></span>
	</div>
	<div class="item-attr">
		<span class="item-attr-title">Location: </span>
		<span class="event-location item-attr-val"><%= event_user.event.location.name %></span>
	</div>
	<div class="item-attr">
		<span class="item-attr-title">Owner: </span>
		<span class="item-attr-val"><%= event_user.response %></span>
	</div>
	<% if response.id %> 
	<%= render 'edit' %>
	<% else %>
	<%= render 'new' %>
	<% end %>
	</div>		
