<header>
  <p>Scheduled Events</p>
</header>

<%= form_tag batch_update_responses_path do |f| %>
	<% @event_users.each do |event_user| %>
		<% @response = event_user.responses.active.find_or_initialize_by(event_user_id: event_user.id) %>
		<% @response.event_id = event_user.event_id %>
		<% @response.user_id = event_user.user_id %>
		<%= semantic_fields_for "responses[#{@response.event_user_id}]", @response do |f| %>

			<div class = "<%= cycle('odd', 'even') %> item">
				<div class="item-header">
					<span class="item-header-title">Event: </span>
					<span class="item-header-val"><%= event_user.event.name %></span>
				</div>
				<div datetime="<%= event_user.event.event_dt %>" class="item-attr">
					<span class="item-attr-title">Date and Time: </span>
					<span class="event-location item-attr-val"><%= event_user.event.event_dt.to_formatted_s(:short) %></span>
				</div>
				<div class="item-attr">
					<span class="item-attr-title">Location: </span>
					<span class="event-location item-attr-val"><%= event_user.event.location.name %></span>
				</div>
				<div class="item-attr">
					<span class="item-attr-title">Last Responded: </span>
					<span class="event-location item-attr-val">
						<% if @response.id %>
						<%= @response.updated_at.localtime.strftime("%m/%d/%Y %l:%M %p") %>
						<% else %>
						<%= "No Response Yet" %>
						<% end %>
					</span>
				</div>
				<div class="item-attr">
					<span class="item-attr-title"></span>					
					<span class="item-attr-val radio">
						<%= f.input :active, :as => :hidden  %>
						<%= f.input :event_id, :as => :hidden  %>
						<%= f.input :user_id, :as => :hidden  %>
						<%= f.input :id, :as => :hidden  %>
						<%= f.input :event_user_id, :as => :hidden %>
						<%= 
						f.input :response_status, :as=> :radio, :label => false
						# f.collection_select(:response_status, ResponseStatus.all, :id, :title) 
						%>
					</span>
				</div>
				<div class="item-attr">
					<span class="item-attr-title">Reason: </span>
					<span class="item-attr-val"><%= f.input :response_reason  %></span>
				</div>
				<div class="item-attr">
					<span class="item-attr-title">Details: </span>
					<span class="item-attr-val">
						<%= f.text_area(:details) %>
					</span>
				</div>
			</div>
		<% end %>
	<% end %>
<%= submit_tag "Update Responses"  %>
<% end %>
