<div class = "<%= cycle('odd', 'even') %> item">
	<div class="item-header">
		<span class="item-header-title">Payment: </span>
		<span class="item-header-val"><%= payment.name %></span>
		<span class="item-header-icons"><%= list_icons(payment, [:edit, :delete, :show])  %></span>
	</div>
	<div class="item-attr">
		<span class="item-attr-title">Description: </span>
		<span class="payment-location item-attr-val"><%= payment.description %></span>
	</div>
	<div class="item-attr">
		<span class="item-attr-title">Amount: </span>
		<span class="payment-location item-attr-val"><%= payment.amount %></span>
	</div>
	<div class="item-attr">
		<span class="item-attr-title">Owner: </span>
		<span class="item-attr-val"><%= payment.owner.name %></span>
	</div>
	<% if controller.action_name == 'index' %>
	<div class="item-attr">
		<span class="item-attr-title">Assigned Groups: </span>
		<span class="payment-location item-attr-val"><%= payment.groups.map { |group| group.name }.to_sentence %></span>
	</div>
	<div class="item-attr">
		<span class="item-attr-title">Assigned Users: </span>
		<span class="payment-location item-attr-val"><%= 
		# payment.attendees.map { |attendee| attendee.name }.to_sentence 
		%></span>
	</div>
	<% end %>
		


		

</div>