<div class = "<%= cycle('odd', 'even') %>">
	<div class="upload">
		<ul id="<%= upload.id %>">
		<span><%= upload.name %></span>
		<span><%= upload.file_type.name %></span>
		<span><%= list_icons(upload, [:edit, :delete, :show]) %></span>
	</ul>
</div>

</div>