      <% lineup_platoon_name = lineup_platoon.sport_platoon.id == lineup_platoon.sport_platoon.parent_id ? 'Base ' + lineup_platoon.sport_platoon.name : lineup_platoon.sport_platoon.name %>
      <% starter_count = lineup_platoon.starting_lineup_formation.lineup_players.where(is_starter: true).count %>
      <% case starter_count %>
        <% when 0 %>
          <% platoon_label_class = "label label-danger" %>
        <% when lineup_platoon.sport_platoon.required_players %>
          <% platoon_label_class = "label label-success" %>
          <% completed_lineup_count += 1 %>
        <% else %>
          <% platoon_label_class = "label label-warning" %>
      <% end %>
      <% pct_positions = (starter_count * 100) / lineup_platoon.sport_platoon.required_players %>
        <% @affix_hash[platoon_area.name][:platoons][lineup_platoon_name] = {:target => '#' + lineup_platoon_name.parameterize, 
          :label_text => (starter_count.to_s + ' / ' + lineup_platoon.sport_platoon.required_players.to_s).html_safe, 
          :label_class => platoon_label_class, :pct_icon => "<div class=\"radial-progress circle-icon\" data-showborder=\"true\" data-progress=\"#{pct_positions}\"></div>"} %>
          <div class="col-md-12">
            <div class="row platoon">
              <div class="platoon-header">
                <div class="col-md-4">
                  <div>
                    <h3 class="platoon-title" id="<%= lineup_platoon_name.parameterize %>"><%= lineup_platoon_name.upcase %></h3>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= pct_positions %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= pct_positions %>%;">
                    </div>
                    <div class="progress-text">
                      <span><%= "#{starter_count} / #{lineup_platoon.sport_platoon.required_players} starting positions filled." %></span>
                    </div>
                  </div>
                  <div class="starting-formation">
                    <div class="col-md-4 no-padding">
                      <div class="starting-formation-label"><div class="label-top">Starting</div><div class="label-bottom">Formation</div></div>
                    </div>
                    <div class="col-md-8 no-padding">
                      <div class="starting-formation-title"><%= lineup_platoon.starting_lineup_formation.name %></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  Non-Starting Formations:<BR>
                  <% if lineup_platoon.non_starting_formations.count > 0 %>
                    <% lineup_platoon.non_starting_formations.each do |lineup_formation| %>
                      <% pct_positions = lineup_formation.lineup_players.where(is_starter: true).count / lineup_platoon.sport_platoon.required_players %>
                      <span><div class="radial-progress circle-icon" data-showborder="true" data-progress="<%= pct_positions %>"></div>
                        <%= lineup_formation.formation.name %> 
                        <%= link_to "Manage", manage_lineup_admin_competition_path(@competition) %>
                      </span>
                    <% end %>
                  <% else %>
                    None 
                  <% end %><BR>
                  <%= link_to("Add Formation", manage_lineup_admin_competition_path(@competition)) %>
                </div>
                <div class="col-md-4">Other Available Formations:<BR>
                  <% other_formations = lineup_platoon.non_used_formations %>
                  <% if other_formations.count > 0 %>
                    <% other_formations.each do |formation| %>
                      <span>
                        <%= lineup_formation.formation.name %> 
                        <%= link_to "Add", manage_lineup_admin_competition_path(@competition) %>
                      </span>
                    <% end %>
                  <% else %>
                    None
                  <% end %><BR>
                  <%= link_to("Create Formation", manage_lineup_admin_competition_path(@competition)) %>
                  <%= lineup_platoon.non_used_formations.map {|formation| formation.name}.join("<BR>").html_safe %>
                </div>
              </div>
            </div>
          </div>