<tr>
  <td>
    <%= f.association :unit, :label => false  %>
    <%= f.input :id, :as => :hidden %>
  </td>
  <% @item_entries = f.object.stat_line_item_entries.sort_by{|item| item.stat_line_item.order_pos} %>
  <%= f.simple_fields_for :stat_line_item_entries, @item_entries do |s_l_i_e| %>
    <td>
      <%= s_l_i_e.text_field :value, :label => false %>
      <%= s_l_i_e.input :id, :as => :hidden %>
      <%= s_l_i_e.input :stat_line_item_id, :as => :hidden %>
    </td>
  <% end %>
</tr>
