  <%= simple_form_for [:admin, @competition] do |f| %>
    <div class="panel-group" id="stat_entry" role="tablist" aria-multiselectable="true">
      <%= f.simple_fields_for :stat_line_entries do |s_l_e| %>
        <% entry_panel_id = s_l_e.object.stat_line_id.to_s %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading<%= entry_panel_id %>">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#stat_entry"
              href="#collapse<%= entry_panel_id %>" aria-expanded="false"
              aria-controls="collapse<%= entry_panel_id %>">
                <%= s_l_e.object.stat_line.title %>
              </a>
            </h3>
          </div>
          <div id="collapse<%= entry_panel_id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= entry_panel_id %>">
            <div class="panel-body">
              <%= s_l_e.input :id, :as => :hidden %>
              <%= s_l_e.input :stat_line_id, :as => :hidden %>
              <table id=<%= s_l_e.object.stat_line.title.parameterize %>>
                <tr>
                  <th>Person</th>
                  <%= s_l_e.object.stat_line_items.sort_by{|item| item.order_pos}.map {|item| "<th>#{item.abbreviation}</th>"}.join.html_safe %>
                </tr>
                <%= s_l_e.simple_fields_for :stat_line_entry_units do |s_l_e_u| %>
                  <%= render 'stat_line_entry_unit_fields', f: s_l_e_u %>
                <% end %>
              </table>
              <%= link_to_add_association 'add line', s_l_e, :stat_line_entry_units, 
              :data => {"association-insertion-method" => "append",
              "association-insertion-method" => "append",
              "association-insertion-node" => '#' + s_l_e.object.stat_line.title.parameterize}, 
              :wrap_object => Proc.new { |s_l_e_unit| StatLineEntryUnit.build_lines(s_l_e.object.stat_line.stat_line_items)} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div><%= f.submit %></div>
  <% end %>
